@{
    ViewData["Title"] = "Login";
}

@model WattWatch.Models.UserModel

<h2>Login</h2>

@using (Html.BeginForm("Login", "Account", FormMethod.Post)) {
    <div class="w-50">
        <div class="mb-3">
            <label class="form-label">Email address</label>
            @Html.TextBoxFor(model => model.Email, new {@class = "form-control"})
        </div>
        <div class="mb-3">
            <label class="form-label">Password</label>
            @Html.PasswordFor(model => model.Password, new {@class = "form-control"})
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
        <a class="text-dark" asp-area="" asp-controller="Account" asp-action="Register">No Account? Create one here</a>
    </div>
}