@{
    ViewData["Title"] = "Home Page";
}

<div class="d-flex justify-content-center align-items-center vh-100 text-center">
    <div>
        <h1 class="display-1 fw-bold">WattWatch</h1>
        <p class="lead text-muted">Your energy guide</p>
    </div>
</div>